{% extends "_base.html" %}
{% block title %}GBAM: Full Artist Profile{% endblock %}
{% block head %} 
	{{ super() }}
{% endblock %}
{% block header %}
	{{ super() }}
{% endblock %}
{% block content %}
<header>
  <h1 class="heading_mediumsize">.: {{artist.name}} Profile :.</h1>
</header>
<section class="section_light section_last">
  <div class="row">
    <div class="three columns"></div>
    <div class="six columns">
        <form method="POST" action="/artists/{{ artist.id }}/edit">
      Name:
      <input type='text' value="{{ artist.name }}" name='name'>
      Instrument:
      <input type='text' value="{{ artist.instrument }}" name='instrument'>
      Bio:
      <textarea name='bio'>{{ artist.bio }}</textarea>
      <button type="button" onclick="goBack()" class="button_cancel">Cancel</button>
      <button type="submit" class="button_update">Update</button>
    </form>
    </div>
    <div class="three columns"></div>
  </div>
</section>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}