{% extends "./templates/_base.html" %}
{% block title %}Users: Info Page{% endblock %}
{% block head %} 
	{{ super() }}
{% endblock %}
{% block header %}
	{{ super() }}
{% endblock %}
{% block content %}
	{% for user in users %}
	<h3>Name: {{ user.name }}</h3> 
	<p>Alias: {{ user.alias }}</p> 
	<p>Email: {{ user.email }}</p> 
	<a href="/users/{{ user.id }}"><button style="background-color: blue; color: white;">More Details</button></a>
	<hr>
	{% endfor %} 
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}