{% extends "_base.html" %}
{% block title %}GBAM | About{% endblock title %}
{% block head %}
	{{ super() }}
{% endblock head %}
{% block nav %}
	{{ super() }}
{% endblock nav %}
{% block content %}
<header>
    <h1 class="heading_mediumsize">EAT. SLEEP. JAZZ. REPEAT. &reg</h1>
</header>
<section class="section_light">
	<div class="row">
		<div class="twelve columns">
			<h3>About Gail Boyd</h3>
			<p>
				Gail Boyd is President of Gail W. Boyd, P.C., an entertainment law firm, and Gail Boyd Artist Management, a wholly owned company of the law firm. She is a graduate of De Paul University and De Paul University School of Law. She was a founding partner in Boyd, Staton and Cave, the first African American female law firm in New York. Gail has been involved in entertainment law since 1976. She has been involved specifically in music with a specialty in jazz since 1979. Gail has served as production coordinator for more than fifteen CDs of various jazz artists. 
			</p>
			<p>
				Other highlights include serving as production coordinator for Quincy Jones, producing a concert which took place in Central Park. She co-produced a gospel album for the choir of Emmanuel Baptist Church of Brooklyn, New York. Gail has served on various boards including WBGO Radio in Newark, New Jersey, the Noel Pointer Foundation, the NARAS Jazz Jam Committee, the International Women in Jazz, and South Brooklyn Legal Services, where she served as chair for nearly 20 years.
			</p>
			<p>
				As a lawyer, Gail Boyd has represented jazz artists such as Betty Carter, Tommy Flanagan, Kenny Barron, Gretchen Parlato, Record Executive Steve Backer, and Randy Weston and has consulted with several labels including Motema Records. several artists on the Gail Boyd Artist Management Roster are Grammy Award nominees and winners, and are critically acclaimed by the jazz press.
			</p> 
		</div>
	</div>
</section>
{% endblock content %}
{% block footer %}
	{{ super() }}
{% endblock footer %}