{% extends "_base.html" %}
{% block title %}GBAM | {{ artist.name }}{% endblock title %}
{% block head %}
	{{ super() }}
{% endblock head %}
{% block nav %}
	{{ super() }}
{% endblock nav %}
{% block content %}
<header>
    <h1 class="heading_mediumsize">{{ artist.name }}</h1>
</header>
<section class="section_light section_last">
	<div class="row">
		<div class="row">
			<div class="six columns">
				<img src="{{url_for('static', filename='img/roster_jc.jpg')}}" alt="Image of {{artist.name}}" />
			</div>
			<div class="six columns">
				<div class="panel">
				<h3 style="color: #898E8F;">Quick Facts</h3>
				<table  style="width: 100%;">
					<tr>
						<th style="width: 30%;">Instrument(s):</th>
						<td>{{ artist.instrument }}</td>                                
					</tr>
					<tr>
						<th>Composer:</th>
						{% if artist.composer == 1 %}
						<td>Yes</td>
						{% else %}
						<td>No</td>
						{% endif %}
					</tr>
					<tr>
						<th>Arranger:</th>
						{% if artist.arranger == 1 %}
						<td>Yes</td>
						{% else %}
						<td>No</td>
						{% endif %}
					</tr>
					<tr>
						<th>Latest Release:</th>
						<td>{{ artist.latest_release }}</td>
					</tr>
					<tr>
						<th>Record Label:</th>
						<td>{{ artist.record_label }}</td>
					</tr>
					<tr>
						<th>Clinics:</th>
						{% if artist.clinic == 1 %}
						<td>Yes</td>
						{% else %}
						<td>No</td>
						{% endif %}
					</tr>
					<tr>
						<th>Residencies:</th>
						{% if artist.residency == 1 %}
						<td>Yes</td>
						{% else %}
						<td>No</td>
						{% endif %}
					</tr>
					<tr>
						<th>Website:</th>
						<td>
							<a href="{{ artist.website }}">Click Here</a>
						</td>       
					</tr>
					<tr>
						<th>Calendar:</th>
						<td>
							<a href="{{ artist.calendar }}">Click Here</a>
						</td>
					</tr>
					<tr>
						<th>Social Media:</th>
						<td>
							<a href="https://twitter.com/{{ artist.twitter }}" class="lsf-icon" title="twitter"></a> 
							<a href="{{ artist.facebook }}" class="lsf-icon" title="facebook"></a>
						</td>                            
					</tr>
				</table>
			</div><!-- end panel -->
		</div>
	</div> <!-- end row -->
	<h4>Artist Information</h4>
	<div class="row">
		<div class="twelve columns">
			<dl class="tabs three-up">
				<dd class="active">
					<a href="#simple1">Bio</a>
				</dd>
				<dd>
					<a href="#simple2">Press</a>
				</dd>
				<dd>
					<a href="#simple3">Discography</a>
				</dd>
			</dl>
			<ul class="tabs-content">
				<li class="active" id="simple1Tab">
					{{ artist.bio }}
				</li> <!-- Bio Tab -->
				<li id="simple2Tab">
					<div>
					{% for press in pressList %}
						<blockquote>
							<p>
							{{press.intro}}
							</p>
							<cite class="">{{ press.writer }}, {{ press.publisher}}</cite>
						</blockquote> 
					{% endfor %}
					</div>
				</li> <!-- Press Tab -->
				<li id="simple3Tab">
					<p>Check out {{ artist.name }}'s website for a complete listing:</p>
					<ul>
						{% for album in albums %}
						<li>{{ album.name }}<span class="label">{{ album.label }}</span></li>
						{% endfor %}
					</ul>
				</li> <!-- Discography Tab -->
			</ul>
		</div>
	</div>
</section>
{% endblock content %}
{% block footer %}
	{{ super() }}
{% endblock footer %}