{% extends "_base.html" %}
{% block title %}GBAM{% endblock title %}
{% block head %}
	{{ super() }}
{% endblock head %}
{% block nav %}
	{{ super() }}
{% endblock nav %}
{% block content %}
<header>
	<h1 class="heading_supersize goWhite">GAIL BOYD</h1>
	<h4 class="heading_largesize goWhite"><span class="borderupdown">ARTIST MANAGEMENT</span></h4>
	<div class="six centered column marquee">
		<img class="" src="{{url_for('static', filename='img/ESJR.png')}}"/>
	</div>  
</header>
<section class="section_dark">
	<div class="row">
		 <div class="twelve columns">
			<blockquote>
				<p class="goWhite">
					"It is the mission of Gail Boyd Artist Management to perpetuate jazz as an art form by supporting the artists who create this beautiful music."
				</p>
				<cite class="goWhite">Gail Boyd | Gail Boyd Artist Management</cite>                    
			</blockquote> 
		 </div>    
	 </div>
</section>
<section class="section_light">
	<div class="row">
		<div class="four columns">
			<h3><span class="dropcap_red lsf-icon-dropcap" title="camera"></span>Our Roster</h3>
			<hr>
			<p>
				Please note that these artists are composers and educators. Thus, in addition to stellar performances, they are available for commissions, residencies, master classes, clinics, and lectures.
			</p>
			<hr>
			<p>
				Take a moment and click on to the roster to get more details about each artist. The news section will keep you abreast of any late breaking stories. Each artist has a link to his or her personal website. 
			</p>
		</div>    
		<div class="four columns">
			<h3><span class="dropcap_black lsf-icon-dropcap" title="cloud"></span>Latest News</h3>
			{% for story in news %}
			<hr>
		    <h5 class="center">{{ story.headline }}</h5>
		    <p>{{ story.intro }} <a href="/blog/{{story.id}}">...[read more]</a></p>
		    {% endfor %}
		</div>
		<div class="four columns">
			<h3><span class="dropcap_black lsf-icon-dropcap" title="video"></span>Join Our Email List</h3>
			<hr>
            <form method="post" action="http://ymlp.com/subscribe.php?YMLPID=gumwqmygmgs" target="_blank">
	            <table border="0" align="center" cellspacing="0" cellpadding="5" style="width: 100%">
	            	<tr>
	            		<td colspan="2">Enter your e-mail address to receive our newsletter!</td>
	            	</tr>
	            	<tr><td valign="top">E-mail:</td>
	            		<td valign="top"><input type="text" name="YMP0" size="20" /></td>
	            	</tr>
	            	<tr>
	            		<td colspan="2"><input type="submit" /></td>
	            	</tr>
	            </table>
            </form>
		</div>
	</div>
</section>
{% endblock content %}
{% block footer %}
	{{ super() }}
{% endblock footer %}