{% extends "_base.html" %}
{% block title %}GBAM | Services{% endblock title %}
{% block head %}
	{{ super() }}
{% endblock head %}
{% block nav %}
	{{ super() }}
{% endblock nav %}
{% block content %}
<header>
    <h1 class="heading_mediumsize">We Offer:</h1>
</header>
<section class="section_light section_last">
	<div class="row">
		<div class="twelve columns">
			<h3>Artist Management</h3>
			<p>
				It is the mission of our firm to ensure that all of the administrative and ministerial duties required by an artist are handled in a competent, effective, efficient manner, allowing the artist the time to create and perform music in comfort.
			</p>
			<p>
				It is further the mission of our firm to increase the visibility of the artist, to assist in the transmission of their art to the public, and to assist the artist in taking full advantage of new and changing industry trends. Gail Boyd Artist Management exist to ensure the continued survival of jazz as America's classical music.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			<h3>Legal</h3>
			<p> 
				An entertainment lawyer who specializes in music is a crucial member of any	artist's team. If you are going to sign a contract of any kind, you should have an attorney who understands the music business represent you and protect your interests. Don't underestimate this important step as it is a common pitfall of many artists.  An entertainment lawyer can be much more than just legal counsel. Any good entertainment lawyer is part of a larger entertainment industry web
				and therefore will have contacts that reach beyond the legal world and into	record labels, booking agencies, management firms and publishing companies.
			<p>
				Gail Boyd has nearly 40 years of experience in entertainment law and music law. She has negotiated licensing deals, record contracts with major and independent labels, and other kinds of contracts. She provides an introduction to the complex areas of entertainment law and music law, as well as information on the music industry and music business. If you are an artist interested in a career in the music industry, you'll need to seek legal advice regarding agents, personal managers, business managers, copyrights, trademarks, publishing, and all sorts of other
				information with which you should become familiar.
			</p>  
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			<h3>Event Planning and Production</h3>
			<p>
				Our firm has many years of experience in event planning and production, ranging from free public events to major corporate sponsored events in metropolitan venues such as Central Park in New York City. Recently, we have partnered with VIBEHEAVY an experiential marketing company to plan and produce events. If you need an event planned and/or produced, we will use our industry
				resources to pull together a stellar event for you and your company.Contact us for further information about event planning
			</p> 
		</div>
	</div>
</section>
{% endblock content %}
{% block footer %}
	{{ super() }}
{% endblock footer %}